bin
gen
Thumbs.db
*.swp
*.bak
*~

*.jar
*.tmp

# C/C++ build target file
*.[oa]
*.so

# ndk build target
libs
obj

*/jni/ffmpeg-0.8/ffmpeg
*/jni/ffmpeg-0.8/ffmpeg_g
*/jni/ffmpeg-0.8/ffprobe
*/jni/ffmpeg-0.8/ffprobe_g

local.properties
