<?xml version="1.0" encoding="UTF-8"?>
<manifest android:versionCode="1" android:versionName="1.0"
    package="com.pekall.mobiletv" xmlns:android="http://schemas.android.com/apk/res/android">
    <application android:icon="@drawable/icon"
        android:label="@string/app_name" android:theme="@android:style/Theme.NoTitleBar">
        <activity android:label="@string/app_name" android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:label=".ContentListActivity" android:name=".ContentListActivity"/>
        <activity android:label=".ContentPreviewActivity" android:name=".ContentPreviewActivity"/>
        <activity android:label=".PlayerActivity" android:name=".PlayerActivity"/>
        <activity android:label=".SearchContentActivity" android:name=".SearchContentActivity"/>
        <activity android:label=".SearchContentResultActivity" android:name=".SearchContentResultActivity"/>
        <activity android:label=".PurchaseDataActivity" android:name=".PurchaseDataActivity"/>
        <activity android:label=".SettingsActivity" android:name=".SettingsActivity"/>
        <activity android:label=".PurchaseDataDetailActivity" android:name=".PurchaseDataDetailActivity"/>
        <activity android:label="@string/SplashActivityActivityLabel" android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:label="@string/HelpActivityActivityLabel" android:name=".HelpActivity"/>
        <activity
            android:label="@string/MbbmsServiceActivityActivityLabel" android:name=".MbbmsServiceActivity"/>
        <activity
            android:label="@string/EmergencyBroadcastListActivityActivityLabel" android:name=".EmergencyBroadcastListActivity"/>
        <activity android:name=".EmergencyBroadcastDetailActivity">
        	 <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
    <uses-sdk android:minSdkVersion="7"/>
</manifest>
